<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>ManagerMenu</servlet-name>
        <servlet-class>ManagerMenu</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>CustomerMenu</servlet-name>
        <servlet-class>CustomerMenu</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>InsertNewCustomer</servlet-name>
        <servlet-class>InsertNewCustomer</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>UsernamesJSON</servlet-name>
        <servlet-class>UsernamesJSON</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>EditIncidences</servlet-name>
        <servlet-class>EditIncidences</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>ViewMyOrders</servlet-name>
        <servlet-class>ViewMyOrders</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>AppointmentHourJSON</servlet-name>
        <servlet-class>AppointmentHourJSON</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>UpdateIncidences</servlet-name>
        <servlet-class>UpdateIncidences</servlet-class>
    </servlet>
	
	<servlet>
        <servlet-name>AppointmentDetailJSON</servlet-name>
        <servlet-class>AppointmentDetailJSON</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>AppointmentJSON</servlet-name>
        <servlet-class>AppointmentJSON</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>ConfirmOrder</servlet-name>
        <servlet-class>ConfirmOrder</servlet-class>
    </servlet>
	 <servlet>
        <servlet-name>CreateOrder</servlet-name>
        <servlet-class>CreateOrder</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>ProductListJSON</servlet-name>
        <servlet-class>ProductListJSON</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>ProductJSON</servlet-name>
        <servlet-class>ProductJSON</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>Inventory</servlet-name>
        <servlet-class>Inventory</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>UpdateAppointmentsMAN</servlet-name>
        <servlet-class>UpdateAppointmentsMAN</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>CheckLogin</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>ManagersCurrentAppointments</servlet-name>
        <servlet-class>ManagersCurrentAppointments</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>MyVehicles</servlet-name>
        <servlet-class>MyVehicles</servlet-class>
    </servlet>
			<servlet>
        <servlet-name>MyVehiclesData</servlet-name>
        <servlet-class>MyVehiclesData</servlet-class>
    </servlet>
	    
			<servlet>
        <servlet-name>MyVehiclesEdit</servlet-name>
        <servlet-class>MyVehiclesEdit</servlet-class>
    </servlet>
				<servlet>
        <servlet-name>MyVehiclesUpdate</servlet-name>
        <servlet-class>MyVehiclesUpdate</servlet-class>
    </servlet>
		<servlet>
        <servlet-name>MyVehiclesDelete</servlet-name>
        <servlet-class>MyVehiclesDelete</servlet-class>
    </servlet>

		<servlet>
        <servlet-name>insertMyVehicle</servlet-name>
        <servlet-class>insertMyVehicle</servlet-class>
    </servlet>
		<servlet>
        <servlet-name>chat</servlet-name>
        <servlet-class>chat</servlet-class>
    </servlet>
	    
		<servlet>
        <servlet-name>messageInsert</servlet-name>
        <servlet-class>messageInsert</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>LicensePlateJSON</servlet-name>
        <servlet-class>LicensePlateJSON</servlet-class>
    </servlet>
	
	<servlet>
        <servlet-name>filtroAppointment</servlet-name>
        <servlet-class>filtroAppointment</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>AllappointmentsData</servlet-name>
        <servlet-class>AllappointmentsData</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>AllAppoinmentsList</servlet-name>
        <servlet-class>AllAppoinmentsList</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>ExchangeAndCustomizationAppointments</servlet-name>
        <servlet-class>ExchangeAndCustomizationAppointments</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>EandCAppointmentsData</servlet-name>
        <servlet-class>EandCAppointmentsData</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>GarageList</servlet-name>
        <servlet-class>GarageList</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>RevisionDelete</servlet-name>
        <servlet-class>RevisionDelete</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>AccountManager</servlet-name>
        <servlet-class>AccountManager</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>GetManagerInfo</servlet-name>
        <servlet-class>GetManagerInfo</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>updatePersonal</servlet-name>
        <servlet-class>updatePersonal</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>EandCappointmentsDelete</servlet-name>
        <servlet-class>EandCappointmentsDelete</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>ManagerJSON</servlet-name>
        <servlet-class>ManagerJSON</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>updateAccount</servlet-name>
        <servlet-class>updateAccount</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>SurveyList</servlet-name>
        <servlet-class>SurveyList</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>SurveyEdit</servlet-name>
        <servlet-class>SurveyEdit</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>SurveyUpdate</servlet-name>
        <servlet-class>SurveyUpdate</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>CustomerSurveyList</servlet-name>
        <servlet-class>CustomerSurveyList</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>CustomerSurveyEdit</servlet-name>
        <servlet-class>CustomerSurveyEdit</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>CustomerSurveyUpdate</servlet-name>
        <servlet-class>CustomerSurveyUpdate</servlet-class>
    </servlet>
	
	
	
    
	
	
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>CustomerMenu</servlet-name>
        <url-pattern>/CustomerMenu</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>ManagerMenu</servlet-name>
        <url-pattern>/ManagerMenu</url-pattern>
    </servlet-mapping>
	 <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
	 <servlet-mapping>
        <servlet-name>UsernamesJSON</servlet-name>
        <url-pattern>/UsernamesJSON</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>InsertNewCustomer</servlet-name>
        <url-pattern>/InsertNewCustomer</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>ViewMyOrders</servlet-name>
        <url-pattern>/ViewMyOrders</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>UpdateIncidences</servlet-name>
        <url-pattern>/UpdateIncidences</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>AppointmentHourJSON</servlet-name>
        <url-pattern>/AppointmentHourJSON</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>AppointmentDetailJSON</servlet-name>
        <url-pattern>/AppointmentDetailJSON</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>AppointmentJSON</servlet-name>
        <url-pattern>/AppointmentJSON</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>EditIncidences</servlet-name>
        <url-pattern>/EditIncidences</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>ConfirmOrder</servlet-name>
        <url-pattern>/ConfirmOrder</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>ProductJSON</servlet-name>
        <url-pattern>/ProductJSON</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>ProductListJSON</servlet-name>
        <url-pattern>/ProductListJSON</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>CreateOrder</servlet-name>
        <url-pattern>/CreateOrder</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>ManagersCurrentAppointments</servlet-name>
        <url-pattern>/ManagersCurrentAppointments</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>Inventory</servlet-name>
        <url-pattern>/Inventory</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/CheckLogin</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>UpdateAppointmentsMAN</servlet-name>
        <url-pattern>/UpdateAppointmentsMAN</url-pattern>
    </servlet-mapping>
	 <servlet-mapping>
        <servlet-name>MyVehicles</servlet-name>
        <url-pattern>/MyVehicles</url-pattern>
    </servlet-mapping>
	    <servlet-mapping>
        <servlet-name>MyVehiclesData</servlet-name>
        <url-pattern>/MyVehiclesData</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>MyVehiclesEdit</servlet-name>
        <url-pattern>/MyVehiclesEdit</url-pattern>
    </servlet-mapping> 
	   	<servlet-mapping>
        <servlet-name>MyVehiclesUpdate</servlet-name>
        <url-pattern>/MyVehiclesUpdate</url-pattern>
    </servlet-mapping> 
	 	<servlet-mapping>
        <servlet-name>MyVehiclesDelete</servlet-name>
        <url-pattern>/MyVehiclesDelete</url-pattern>
    </servlet-mapping> 

	 	<servlet-mapping>
        <servlet-name>insertMyVehicle</servlet-name>
        <url-pattern>/insertMyVehicle</url-pattern>
    </servlet-mapping> 
		 	<servlet-mapping>
        <servlet-name>chat</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping> 
		 	<servlet-mapping>
        <servlet-name>messageInsert</servlet-name>
        <url-pattern>/messageInsert</url-pattern>
    </servlet-mapping> 
		<servlet-mapping>
        <servlet-name>LicensePlateJSON</servlet-name>
        <url-pattern>/LicensePlateJSON</url-pattern>
    </servlet-mapping> 
	
	<servlet-mapping>
        <servlet-name>filtroAppointment</servlet-name>
        <url-pattern>/filtroAppointment</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>AllappointmentsData</servlet-name>
        <url-pattern>/AllappointmentsData</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>AllAppoinmentsList</servlet-name>
        <url-pattern>/AllAppoinmentsList</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>ExchangeAndCustomizationAppointments</servlet-name>
        <url-pattern>/ExchangeAndCustomizationAppointments</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>EandCAppointmentsData</servlet-name>
        <url-pattern>/EandCAppointmentsData</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>GarageList</servlet-name>
        <url-pattern>/GarageList</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>RevisionDelete</servlet-name>
        <url-pattern>/RevisionDelete</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>AccountManager</servlet-name>
        <url-pattern>/AccountManager</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>GetManagerInfo</servlet-name>
        <url-pattern>/GetManagerInfo</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>updatePersonal</servlet-name>
        <url-pattern>/updatePersonal</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>EandCappointmentsDelete</servlet-name>
        <url-pattern>/EandCappointmentsDelete</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>ManagerJSON</servlet-name>
        <url-pattern>/ManagerJSON</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>updateAccount</servlet-name>
        <url-pattern>/updateAccount</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>SurveyList</servlet-name>
        <url-pattern>/SurveyList</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>SurveyEdit</servlet-name>
        <url-pattern>/SurveyEdit</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>SurveyUpdate</servlet-name>
        <url-pattern>/SurveyUpdate</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>CustomerSurveyList</servlet-name>
        <url-pattern>/CustomerSurveyList</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>CustomerSurveyEdit</servlet-name>
        <url-pattern>/CustomerSurveyEdit</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>CustomerSurveyUpdate</servlet-name>
        <url-pattern>/CustomerSurveyUpdate</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>TypeOfAppointment</servlet-name>
        <servlet-class>TypeOfAppointment</servlet-class>
    </servlet>
	
	<servlet-mapping>
        <servlet-name>TypeOfAppointment</servlet-name>
        <url-pattern>/TypeOfAppointment</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>Calendario</servlet-name>
        <servlet-class>Calendario</servlet-class>
    </servlet>
	
	<servlet-mapping>
        <servlet-name>Calendario</servlet-name>
        <url-pattern>/Calendario</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>elegirCita</servlet-name>
        <servlet-class>elegirCita</servlet-class>
    </servlet>
	
	<servlet-mapping>
        <servlet-name>elegirCita</servlet-name>
        <url-pattern>/elegirCita</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>Repair</servlet-name>
        <servlet-class>Repair</servlet-class>
    </servlet>
	
	<servlet-mapping>
        <servlet-name>Repair</servlet-name>
        <url-pattern>/Repair</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>Update</servlet-class>
    </servlet>
	
	<servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>Exchange</servlet-name>
        <servlet-class>Exchange</servlet-class>
    </servlet>
	
	<servlet-mapping>
        <servlet-name>Exchange</servlet-name>
        <url-pattern>/Exchange</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>ReferenceJSON</servlet-name>
        <servlet-class>ReferenceJSON</servlet-class>
    </servlet>
	
	<servlet-mapping>
        <servlet-name>ReferenceJSON</servlet-name>
        <url-pattern>/ReferenceJSON</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>CategoryReferenceJSON</servlet-name>
        <servlet-class>CategoryReferenceJSON</servlet-class>
    </servlet>
	
	<servlet-mapping>
        <servlet-name>CategoryReferenceJSON</servlet-name>
        <url-pattern>/CategoryReferenceJSON</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>Customization</servlet-name>
        <servlet-class>Customization</servlet-class>
    </servlet>
	
	<servlet-mapping>
        <servlet-name>Customization</servlet-name>
        <url-pattern>/Customization</url-pattern>
    </servlet-mapping>
</web-app>